---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

const { default: meData } = await import ('../assets/me.json');
---

<Layout>
	<h1>{meData.nombre}</h1>
	<p>{meData.profesion}</p>
	<p>{meData.bio}</p>	
	
	<h2>Habilidades</h2>
	{meData.habilidades.map((habilidad) =>(
			<p>{habilidad}</p>
	))}
</Layout>
