<footer>
    <nav>
        <ul>
            <li><a href="/#enlace"><Instagram/></a></li>
            <li><a href="/#enlace">Proyectos</a></li>
            <li><a href="/#enlace">Experiencia</a></li>
        </ul>
    </nav>
</footer>

<style>
    footer{
        width: 100%;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    ul{
        width: fit-content;
        padding: 16px;
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
    }
    li{
        list-style-type: none;
        color: white;
    }
</style>